.width-40 {
  width: 19rem;
}

.mb-2 {
  margin-bottom: 1.4rem;
}
.d-flex {
  display: flex;
}

.ai-c {
  align-items: center;
  justify-content: center;
}

.container {
  background-color: aliceblue;
  padding: 2rem;
  height: 100vh;
}

.align-center {
  text-align: center;
}

.themecolor {
  color: #0974ad;
}
